* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Livvic", sans-serif;
    color: #FFF;
  }
  ul,
  ol {
    list-style-type: none;
    padding-left: 0;
  }
  a {
    text-decoration: none;
    
  }
  .container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 10px;
  }