.header{
    height: 720px;
    background: #004047;
    background-image: url(../img/hero1.png), url(../img/hero2.png);
    background-repeat: no-repeat;
    background-position: center left, bottom right;
}
.nav{
    display: flex;
    padding-top: 80px;
    color: white;
}
.nav__list{
    display: flex;
    list-style-type: none;
    margin-top: 10px;
}
.nav__item a{
    color: white;
    margin-left: 80px;
    text-decoration: none;
}
.nav__btn{
    width: 153px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #FFF; 
    background-color: #014E56;
    margin-top: -5px;
    margin-left: 500px;
}

.nav__btn a{
    color: #FFF;
    font-family: 'no_name_37', sans-serif;                                            
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    text-decoration: none; 
}